Repository v-v-vishnevskiy/mir-commander: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-toml, check-yaml

check-json:
  name: check json
  entry: check-json
  language: python

check-toml:
  name: check toml
  entry: check-toml
  language: python

check-yaml:
  name: check yaml
  entry: check-yaml
  language: python

Fix focus for control panel
  mir_commander/ui/mdi_area.py
  plugins/builtin/programs/molecular_visualizer/src/visualizer.py
Due: none

Improve labels offset
  plugins/builtin/programs/molecular_visualizer/src/config.py
  plugins/builtin/programs/molecular_visualizer/src/control_elements/atom_labels.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/atom/atom.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/atom/sphere.py
Due: none

Improve labels offset
  plugins/builtin/programs/molecular_visualizer/src/config.py
  plugins/builtin/programs/molecular_visualizer/src/control_elements/atom_labels.py
Due: none

Fix import file
  config.yaml
  mir_commander/ui/project_window.py
Due: check-yaml

Improve app icon
  mir_commander/ui/about.py
  mir_commander/ui/application.py
  mir_commander/ui/project_window.py
  resources/icons/app.png
  resources/icons/app.svg
  resources/resources.qrc
  resources/styles/stylesheets.qss
Due: none

Update readme
  README.md
Due: none

Improve molviz styles
  plugins/builtin/programs/molecular_visualizer/src/config.py
Due: none

Additional fixes
  README.md
  config.yaml
  mir_commander/ui/about.py
  mir_commander/ui/application.py
  mir_commander/ui/project_window.py
  plugins/builtin/programs/molecular_visualizer/src/config.py
  resources/icons/app.png
  resources/icons/app.svg
  resources/resources.qrc
  resources/styles/stylesheets.qss
Due: check-yaml

Added build script
  .gitignore
  Makefile
  build.py
  mir_commander/__main__.py
  mir_commander/core/config.py
  mir_commander/core/graphics/mesh/marching_cubes.pyx
  mir_commander/core/graphics/utils.py
  mir_commander/main.py
  mir_commander/ui/config.py
  mir_commander/ui/export_item_dialog.py
  pyproject.toml
  uv.lock
Due: check-toml

Fix Makefile
  Makefile
Due: none

Read fonts from rcc rcc files
  mir_commander/core/graphics/font_atlas.py
  mir_commander/ui/sdk/opengl/opengl_widget.py
Due: none

Added script to build app
  Makefile
  build.py
  mir_commander/core/__init__.py
  mir_commander/core/graphics/opengl/renderer.py
  mir_commander/core/graphics/opengl/shaders/__init__.py
  mir_commander/core/graphics/resource_manager.py
  mir_commander/core/graphics/scene/__init__.py
  mir_commander/ui/application.py
  mir_commander/ui/docks/project_dock/items.py
  mir_commander/ui/docks/project_dock/project_dock.py
  mir_commander/ui/docks/project_dock/tree_view.py
  mir_commander/ui/mdi_area.py
  mir_commander/ui/project_window.py
  mir_commander/ui/recent_projects/config.py
  mir_commander/ui/sdk/opengl/opengl_widget.py
  mir_commander/ui/settings/base.py
  mir_commander/ui/settings/plugins_page.py
  mir_commander/ui/settings/settings_dialog.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/atom/atom.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/atom/bounding_sphere.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/atom/label.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/atom/sphere.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/base.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/bond.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/coordinate_axes.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/molecule.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/molecules.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/volume_cube/isosurface.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/volume_cube/isosurface_group.py
  plugins/builtin/programs/molecular_visualizer/src/graphics_nodes/volume_cube/volume_cube.py
  pyproject.toml
  resources/icon.icns
  resources/icon.png
  resources/macos.iconset/icon_256x256.png
  uv.lock
Due: check-toml

Improve startup program
  mir_commander/main.py
  mir_commander/ui/application.py
Due: none

Fixes
  Makefile
  mir_commander/ui/application.py
Due: none

Reduce size of installation
  build.py
  pyproject.toml
  uv.lock
Due: check-toml

Fixes
  Makefile
  build.py
  mir_commander/core/config.py
  mir_commander/ui/settings/settings_dialog.py
Due: none

Speedup bond building
  Makefile
  build.py
  mir_commander/core/chemistry.py
  mir_commander/core/chemistry.pyx
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/molecule.py
  pyproject.toml
Due: check-toml

Improve comments
  mir_commander/core/chemistry.py
  mir_commander/core/chemistry.pyx
Due: none

Fixes
  mir_commander/core/graphics/opengl/renderer.py
  mir_commander/core/graphics/scene/node.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/atom.py
Due: none

Common improvements
  mir_commander/core/graphics/mesh/sphere.py
  mir_commander/core/graphics/opengl/shaders/vertex.py
  mir_commander/ui/sdk/opengl/opengl_widget.py
Due: none

Improve shaders and renderer
  mir_commander/core/graphics/opengl/renderer.py
  mir_commander/core/graphics/opengl/shader.py
  mir_commander/core/graphics/opengl/shaders/__init__.py
  mir_commander/core/graphics/opengl/shaders/fragment.py
  mir_commander/core/graphics/opengl/shaders/vertex.py
  mir_commander/core/graphics/scene/node.py
  mir_commander/core/graphics/scene/rendering_container.py
  mir_commander/core/graphics/scene/text_node.py
  mir_commander/ui/sdk/opengl/opengl_widget.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/bounding_sphere.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/sphere.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/bond.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/coordinate_axes.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/volume_cube/isosurface.py
  plugins/builtin/programs/src/molecular_visualizer/shaders/vertex.py
  pyproject.toml
Due: check-toml

Make rendering atoms through ray casting. Huge rendering speedup
  mir_commander/core/graphics/opengl/renderer.py
  plugins/builtin/programs/src/molecular_visualizer/consts.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/bounding_sphere.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/sphere.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/coordinate_axes.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/sphere.py
  plugins/builtin/programs/src/molecular_visualizer/visualizer.py
Due: none

Improve cylinder
  mir_commander/core/graphics/mesh/cylinder.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/bond.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/cylinder.py
  plugins/builtin/programs/src/molecular_visualizer/visualizer.py
Due: none

Make rendering bonds through ray casting. Huge rendering speedup
  mir_commander/core/graphics/opengl/renderer.py
  plugins/builtin/programs/src/molecular_visualizer/consts.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/bond.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/cone.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/coordinate_axes.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/cylinder.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/sphere.py
  plugins/builtin/programs/src/molecular_visualizer/visualizer.py
Due: none

Speedup molecule loading by 1.8x times
  mir_commander/core/graphics/scene/node.py
  mir_commander/core/graphics/scene/text_node.py
  mir_commander/core/graphics/transform.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/atom.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/bounding_sphere.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/label.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/sphere.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/bond.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/cone.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/coordinate_axes.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/cylinder.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/molecule.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/sphere.py
Due: none

Fix
  mir_commander/core/graphics/opengl/renderer.py
Due: none

Lazy loading for labels
  mir_commander/core/graphics/scene/text_node.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/atom/label.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/bond.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/coordinate_axes.py
Due: none

Speedup matrix mul
  mir_commander/core/algebra.py
Due: none

Speed optimzations
  mir_commander/core/graphics/opengl/renderer.py
  mir_commander/core/graphics/scene/node.py
  mir_commander/core/graphics/transform.py
  plugins/builtin/programs/src/molecular_visualizer/graphics_nodes/cylinder.py
Due: none

Fix renderer
  mir_commander/core/graphics/opengl/renderer.py
Due: none

Improve opengl version checking
  plugins/builtin/programs/src/molecular_visualizer/program.py
Due: none

Improve macos building program
  Makefile
  build.py
  mir_commander/__main__.py
  mir_commander/core/consts.py
  mir_commander/core/graphics/scene/rendering_container.py
  mir_commander/ui/project_window.py
  plugins/builtin/resources/i18n/en.ts
  plugins/builtin/resources/i18n/ru.ts
  pyproject.toml
  resources/building/linux/icon.png
  resources/building/macos/Info.plist
  resources/building/macos/icon.icns
  resources/building/macos/iconset/icon_256x256.png
  resources/i18n/en.ts
  resources/i18n/ru.ts
  uv.lock
Due: check-toml

Added msaa for ray casting objects
  mir_commander/core/graphics/opengl/wboit.py
Due: none

Added license. Improve About window.
  LICENSE
  mir_commander/ui/about.py
  mir_commander/ui/application.py
  mir_commander/ui/project_window.py
  pyproject.toml
  resources/i18n/en.ts
  resources/i18n/ru.ts
  resources/policy/LICENSE
  resources/resources.qrc
  resources/styles/stylesheets.qss
Due: check-toml

Fix scripts
  pyproject.toml
  qrc_to_rcc.cmd
  ts_to_qm.cmd
Due: check-toml

Fixes
  LICENSE
  mir_commander/core/file_manager.py
  mir_commander/core/plugins_registry.py
  plugins/builtin/file_importers/src/unex_importer.py
  pyproject.toml
Due: check-toml

Added info about plugins to license. Improve macos build command
  Makefile
  resources/policy/LICENSE
Due: none

Fixes
  .gitignore
  mir_commander/core/file_manager.py
Due: none

Path conditions:
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
